name: Run calc_test

on:
    pull_request:
        branches: [main]

jobs:
  build_and_test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
# 1. Checkout the repository code
      
    - uses: actions/checkout@v4
      
    # 2. Set up Python environment
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13.3' # <--- Adjust to your specific Python version
        
    # 3. Install dependencies
    - name: Install Dependencies
      run : |
        
        pip install -r requirements.txt
        
    # 4. Run Pytest unit tests
    - name: Run Pytest Tests
      run: pytest # <--- This command executes your tests
    - name: Fetch PR comments
      run: |
        curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
        "https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/comments" \
        > .github/scripts/comments.json
